[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = //calculates the following for n*n matrix:
[access "refs/*"]
	owner = group user/Jayant Devkar (JayantDevkar)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jayant Devkar (JayantDevkar)
	label-Verified = -1..+1 group user/Jayant Devkar (JayantDevkar)
	push = group user/Jayant Devkar (JayantDevkar)
	read = group user/Jayant Devkar (JayantDevkar)
	rebase = group user/Jayant Devkar (JayantDevkar)
	removeReviewer = group user/Jayant Devkar (JayantDevkar)
	submit = group user/Jayant Devkar (JayantDevkar)
[access "refs/heads/*"]
	create = group user/Jayant Devkar (JayantDevkar)
	push = +force group user/Jayant Devkar (JayantDevkar)
	pushMerge = group user/Jayant Devkar (JayantDevkar)
	read = group user/Jayant Devkar (JayantDevkar)
[access "refs/tags/*"]
	push = group user/Jayant Devkar (JayantDevkar)
	push = +force group user/Jayant Devkar (JayantDevkar)
